{% extends "form_base.html" %}

{% block title %}
    Achievements
{% endblock title %}

{% block nav_breadcrumb %}
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Achievements</li>
{% endblock nav_breadcrumb %}

{% block heading %}
    Edit Achievements
{% endblock heading %}

{% block form_data %}
    <style>
        label {
            display: none;
        }
    </style>

    <form class="mt-5 ml-5 mr-5" method="POST">
        {{ flash_error_success() }}
        {{ form.hidden_tag() }}
        <div class="mt-4"></div>
        {% for subform in form.achievement_list %}
            <div class="row mt-3">
                <div class="col-1 font-weight-bold text-info mt-3 text-center">
                    {{ loop.index|string + '.' }}
                </div>
                <div class="col-8">
                    {{ wtf.form_field(subform.achievement_description, class='form-control', maxlength="500") }}
                </div>
                <div class="col text-center">
                    {{ wtf.form_field(subform.save, class='btn btn-md btn-outline-success btn-block mt-3') }}
                </div>
                <div class="col text-center">
                    {{ wtf.form_field(subform.delete, class='btn btn-md btn-outline-danger btn-block mt-3') }}
                </div>
            </div>
        {% endfor %}
        <div class="row mt-4">
            <div class="col-1 font-weight-bold text-info mt-3 text-center">
                New
            </div>
            <div class="col-8">
                {{ wtf.form_field(form.new_achievement, class='form-control', maxlength="500") }}
            </div>
            <div class="col text-center">
                {{ wtf.form_field(form.add, class='btn btn-md btn-outline-primary btn-block mt-3') }}
            </div>
        </div>
    </form>
{% endblock form_data %}