{% extends "form_base.html" %}

{% block title %}
    Extra Curricular
{% endblock title %}

{% block nav_breadcrumb %}
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Extra-curricular Activities</li>
{% endblock nav_breadcrumb %}

{% block heading %}
    Edit Extra-curricular Activities
{% endblock heading %}

{% block form_data %}
    <style>
        textarea {
            resize: none;
        }
    </style>
    <form class="mt-5 ml-5 mr-5" method="POST">
        {{ flash_error_success() }}
        {{ form.hidden_tag() }}
        {% for subform in form.ec_list %}
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-1 font-weight-bold text-info mt-4 text-center">
                            <div class="mt-3"></div>
                            {{ loop.index|string + '.' }}
                        </div>
                        <div class="col-5">
                            {{ wtf.form_field(subform.title, class='form-control', maxlength="100") }}
                        </div>
                        <div class="col-3">
                            {{ wtf.form_field(subform.start, class='form-control') }}
                        </div>
                        <div class="col-3">
                            {{ wtf.form_field(subform.end, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8">
                            {{ wtf.form_field(subform.text_description, class='form-control', maxlength="500") }}
                        </div>
                        <div class="col text-center mt-5">
                            {{ wtf.form_field(subform.save, class='btn btn-md btn-outline-success btn-block') }}
                        </div>
                        <div class="col text-center mt-5">
                            {{ wtf.form_field(subform.delete, class='btn btn-md btn-outline-danger btn-block') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 mt-4 text-center font-weight-bold text-info">
                        <div class="mt-3"></div>
                        New
                    </div>
                    <div class="col-5">
                        {{ wtf.form_field(form.title, class='form-control', maxlength="100") }}
                    </div>
                    <div class="col-3">
                        {{ wtf.form_field(form.start, class='form-control') }}
                    </div>
                    <div class="col-3">
                        {{ wtf.form_field(form.end, class='form-control') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        {{ wtf.form_field(form.text_description, class='form-control', maxlength="500") }}
                    </div>
                    <div class="col text-center mt-5">
                        {{ wtf.form_field(form.add, class='btn btn-md btn-outline-primary btn-block') }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock form_data %}