{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block heading %} Home {% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1 class="display-4">Hello, {{ name }}!</h1>
<p class="lead">Welcome to CV Builder, the most powerful resume builder.
	Everything you need to make your next career move.</p>
<hr class="my-4">
<p>The #1 resume & CV builder, used by PPR to get into IITR.</p>
<a class="btn btn-primary btn-lg" href="/dashboard" role="button">Go to dashboard</a>
{% else %}
<h1 class="display-4">Welcome!</h1>
<p class="lead">Login to continue</p>
<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
{% endif %}
{% endblock %}