{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "snippets.html" import flash_error_success %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="text-center mt-3 text-primary">CV Builder</h3>
            <h5 class="text-center mt-3 text-secondary">Change your password</h5>
            <form class="mt-5 ml-5 mr-5" method="post">
                {{ flash_error_success() }}
                {{ form.csrf_token() }}
                <div class="form-group mt-4">
                    {{ wtf.form_field(form.current_password, class='form-control', placeholder='Current password', maxlength="32") }}
                </div>
                <div class="form-group mt-4">
                    {{ wtf.form_field(form.new_password, class='form-control', placeholder='New password', maxlength="32") }}
                </div>
                <div class="form-group mt-4">
                    {{ wtf.form_field(form.repeat_password, class='form-control', placeholder='Repeat password', maxlength="32") }}
                </div>
                <div class="text-center mt-5">
                    {{ wtf.form_field(form.submit, class='btn btn-lg btn-primary') }}
                </div>
                <div class="text-center mt-5">
                    Back to <a href="/">Home</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}