{% extends "form_base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block nav_breadcrumb %}
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock nav_breadcrumb %}

{% block heading %}
    Change Password
{%  endblock heading %}

{% block form_data %}
    <form class="mt-5 ml-5 mr-5" method="post">
        {{ flash_error_success() }}
        {{ form.csrf_token() }}
        <div class="form-group mt-4">
            {{ wtf.form_field(form.current_password, class='form-control', placeholder='Current password', maxlength="32") }}
        </div>
        <div class="form-group mt-4">
            {{ wtf.form_field(form.new_password, class='form-control', placeholder='New password', maxlength="32") }}
        </div>
        <div class="form-group mt-4">
            {{ wtf.form_field(form.repeat_password, class='form-control', placeholder='Repeat password', maxlength="32") }}
        </div>
        <div class="text-center mt-5">
            {{ wtf.form_field(form.submit, class='btn btn-lg btn-primary') }}
        </div>
    </form>
{% endblock form_data %}
