{% extends "base.html" %}

{% block content %}
<h1>Change Password</h1>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		Id <br>
		{{ current_user.id }}
	</p>
	<p>
		{{ form.current_password.label }} <br>
		{{ form.current_password(size=32) }}
		{% for error in form.current_password.errors %}
		<span style='color: red;'>[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.new_password.label }} <br>
		{{ form.new_password(size=32) }}
		{% for error in form.new_password.errors %}
		<span style='color: red;'>[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.repeat_password.label }} <br>
		{{ form.repeat_password(size=32) }}
		{% for error in form.repeat_password.errors %}
		<span style='color: red;'>[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.submit() }}
	</p>
</form>
{% endblock %}