{% extends "form_base.html" %}

{% block title %}
    Edit Tenth Data
{% endblock %}

{% block nav_breadcrumb %}
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="#">Education</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Tenth Data</li>
{% endblock nav_breadcrumb %}

{% block heading %}
    Edit Tenth Data
{% endblock heading %}

{% block form_data %}
    <form class="mt-5 ml-5 mr-5" method="post">
        {{ flash_error_success() }}
        {{ form.csrf_token() }}
        <div class="form-group mt-3">
            {{ wtf.form_field(form.school_name, class='form-control', maxlength="200") }}
        </div>
        <div class="form-group mt-3">
            {{ wtf.form_field(form.cgpa, class='form-control', maxlength="5") }}
        </div>
        <div class="form-group mt-3">
            {{ wtf.form_field(form.board, class='form-control', maxlength="200") }}
        </div>
        <div class="form-group mt-3">
            {{ wtf.form_field(form.year, class='form-control', maxlength="4") }}
        </div>
        <div class="text-center mt-4">
            {{ wtf.form_field(form.submit, class='btn btn-md btn-primary') }}
        </div>
    </form>
{% endblock form_data %}
